/* .select{
    background-color: white;
    height: 20px;
    border: 1px solid #bbbbbb;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 5px;
}

.icon {
    height: 15px;
    width: 15px;
}
 .select > h4 {
     font-weight: 500;
     font-size: 0.8rem;
 }

 h4:hover {
    font-weight: 600;
 } */
