.create {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 60vw;
    margin: 20vh auto;
}

h1 {
    margin-bottom: 20px;
}

.create > button {
    height: 40px;
    padding: 5px 10px;
    background-color: green;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 15px;
    margin-top: 15px;
    position: absolute;
    right: 0;
}

#priority {
    width: 20%;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.2rem;
    margin-left: 162px;
}