td {
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}

  td:nth-child(odd){font-weight: 500;}

 

  tr > td > button:hover {
    cursor: pointer;
  }


  
  